<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  colors="true"
  executionOrder="random"
  cacheDirectory="var/phpunit/"
>
<!--  <coverage>-->
<!--    <report>-->
<!--      <html outputDirectory="./var/phpunit/coverage/html" lowUpperBound="95" highLowerBound="100"/>-->
<!--    </report>-->
<!--  </coverage>-->

  <testsuites>
    <testsuite name="all">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>