<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="./tools/vendor/autoload.php"
  colors="true"
  executionOrder="default"
  cacheDirectory="./var/phpunit/"
>
  <coverage includeUncoveredFiles="true">
    <report>
      <html outputDirectory="./var/phpunit/coverage/html" lowUpperBound="95" highLowerBound="100"/>
      <text outputFile="./var/phpunit/coverage/coverage.txt" showOnlySummary="true" />
    </report>
  </coverage>

  <logging>
    <testdoxHtml outputFile="./var/phpunit/logging/testdox.html"/>
    <testdoxText outputFile="./var/phpunit/logging/testdox.txt"/>
  </logging>

  <testsuites>
    <testsuite name="all">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>